In [13]:
import pandas as pd
# Read in movie dataset
movie_read = pd.read_csv('movie_metadata.csv')
movie_read.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [14]:
# Join actors column in one and remove unused columns
movie_read['actors'] = movie_read[['actor_1_name', 'actor_2_name', 'actor_3_name']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)
movie_df = movie_read[["movie_title","director_name", "duration", "genres", "actors", "plot_keywords", "language", "country", "title_year", "imdb_score"]].copy()
movie_df.head()

,movie_title,director_name,duration,genres,actors,plot_keywords,language,country,title_year,imdb_score
0,Avatar,James Cameron,178.0,Action|Adventure|Fantasy|Sci-Fi,"CCH Pounder, Joel David Moore, Wes Studi",avatar|future|marine|native|paraplegic,English,USA,2009.0,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,169.0,Action|Adventure|Fantasy,"Johnny Depp, Orlando Bloom, Jack Davenport",goddess|marriage ceremony|marriage proposal|pi...,English,USA,2007.0,7.1
2,Spectre,Sam Mendes,148.0,Action|Adventure|Thriller,"Christoph Waltz, Rory Kinnear, Stephanie Sigman",bomb|espionage|sequel|spy|terrorist,English,UK,2015.0,6.8
3,The Dark Knight Rises,Christopher Nolan,164.0,Action|Thriller,"Tom Hardy, Christian Bale, Joseph Gordon-Levitt",deception|imprisonment|lawlessness|police offi...,English,USA,2012.0,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,NaN,Documentary,"Doug Walker, Rob Walker",NaN,NaN,NaN,NaN,7.1

In [15]:
# Export
movie_df.to_csv("movie_clean.csv", encoding="utf-8", header=True, index=False)